<section>
  <div class="container">
    <form>
      <div class="input-append" style="margin-right: auto; margin-left: auto; width:500px; display:block; margin-top: 50px;">
        <input class="span3 input-large" type="text" style="width: 400px;">
        <button class="btn btn-theme btn-large" type="submit">Search</button>
      </div>
    </form>
  </div>
</section>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="inner-heading">
          <h2>Recent events</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content" style="padding: 0 0 0 0;">
  <app-event-list></app-event-list>
</section>