.event-box {
    /* border: 1px solid #333;# */
    box-shadow: 0 1px 3px #999;
    margin: 5px !important;
  }
  
  .event-box .details {
    text-align: center;
    padding: 10px 0 10px 0;
  }
  
  .event-box .details .title {
    color: #353535;
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 8px 0;
  }
  
  .event-box .details p {
    font-size: 14px;
    margin: 0 0 5px 0;
  }
  
  .event-box .details span {
    margin-left: 5px;
  }

  .btn-buy-ticket {
    color: #fff;
    border: 1px solid #fff;
    background: #e96b56;
    font-size: 15px;
    transition: 0.3s;
  }
  .btn-buy-ticket i {
    color: #fff;
    transition: 0.3s;
  }
  .btn-buy-ticket:hover {
    color: #e96b56;
    background: #fff;
  }
  .btn-buy-ticket:hover i {
    color: #e96b56;
  }

.ticket-prices {
  color: #fff;
}
.ticket-prices-label {
  margin-bottom: 5px;
  font-size: 13px;
}
.ticket-prices-value {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}