<section>
  <div class="container">
    <div class="row event-info-container">
      <div class="span6">
        <img src="https://image.ibb.co/iftwqA/metallica.png" />
      </div>
      <div class="span6">
        <h2>
          <strong>Metallica
            <span class="colored">WorldWired Tour</span>
          </strong>
        </h2>
        <div class="solidline"></div>
        <div class="boxes">
          <span class="btn btn-small">
            <i class="icon-calendar"></i>
            20 Nov 2018
          </span>
          <span class="btn btn-small">
            <i class="icon-location-arrow"></i>
            Cracow, Tauron Arena
          </span>
          <span class="btn btn-small">
            <i class="icon-music"></i>
            Heavy Metal Concert
          </span>
        </div>

        <p>
          Metallica is an American thrash metal/heavy metal band. The band came together in Los Angeles in 1981 and
          helped to invent the thrash sub-genre of heavy metal. They are well known for many of their songs, including
          "Master of Puppets", "The Unforgiven", "One", "Enter Sandman", and "Nothing Else Matters."
          <br /> Since then, they have become one of metal's most popular and successful bands, and have sold over 100
          million albums worldwide. The band's fifth album, Metallica, has sold over 21 million copies, making it the
          twenty-fifth biggest selling album of all time in America.
        </p>
      </div>
    </div>

    <div class="row horizontal-line">
      <div class="span12">
        <div class="solidline"></div>
      </div>
    </div>

    <div class="row event-prices-container">
      <h2>Prices</h2>
      <div class="span8">
        <table class="table table-hover">
          <thead>
            <th>Category</th>
            <th>Price</th>
            <th>Available</th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>Golden Circle</td>
              <td>€119,99</td>
              <td>3 / 50</td>
              <td><a class="btn btn-theme btn-small">Get tickets <i class="icon-angle-right"></i></a></td>
            </tr>
            <tr>
              <td>Level A</td>
              <td>€109,99</td>
              <td>26 / 100</td>
              <td><a class="btn btn-theme btn-small">Get tickets <i class="icon-angle-right"></i></a></td>
            </tr>
            <tr>
              <td>Level B</td>
              <td>€99,99</td>
              <td>39 / 120</td>
              <td><a class="btn btn-theme btn-small">Get tickets <i class="icon-angle-right"></i></a></td>
            </tr>
            <tr>
              <td>Level C</td>
              <td>€79,99</td>
              <td>112 / 180</td>
              <td><a class="btn btn-theme btn-small">Get tickets <i class="icon-angle-right"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span4">
        <div class="info-box">
          <div class="info-box-header">
            <i class="icon-info icon-circled icon-bginfo"></i><span> Notice</span>
          </div>

          <p>For this event there is <strong>a limit of 5 tickets per client</strong> which means that one person may
            purchase in total not more than 5 tickets in one order or in many orders.</p>
        </div>
      </div>
    </div>

    <div class="row event-location-container">
      <h2>Location - <strong>Tauron Arena</strong></h2>
      <div class="row">
        <div class="span6">
          <p>
            Tauron Arena Kraków is the largest and one of most modern entertainment and sports venues in Poland. It
            allows to host a variety of sports events, including badminton, boxing, curling, acrobatic and artistic
            gymnastics, indoor football, hockey, basketball, track and field, figure skating, volleyball, handball,
            martial arts, extreme sports, tennis, table tennis, equestrian competitions and sports dancing
            competitions.
            <br /><br />
            The facility area has 61,434 m2, with maximum area of the arena court of 4 546 m2. The average capacity is
            18,000 for concerts, and 15,000 for sport events, with maximum number of spectators being 22,000.
          </p>

        </div>
        <div class="span4">
          <img src="https://ebilet-media.azureedge.net/media/26679/tak_kontakt_foto450.jpg" />
        </div>
        <div class="span2 contact-info">
          <address>
            <strong>Address</strong>
            <br>
            Tauron Arena
            <br>
            Stanisława Lema 7
            <br>
            31-571 Kraków
          </address>
          <address>
            <strong>Phone</strong>
            <br>
            12 349 11 02
          </address>
        </div>
      </div>
    </div>
  </div>
  <div>
    <img src="https://i.ibb.co/HKhYRrj/image.png">
  </div>
</section>